atari-py==0.2.6
Box2D==2.3.10
certifi==2022.6.15
charset-normalizer==2.1.1
cloudpickle==1.6.0
cmake==3.24.1
cycler==0.11.0
fonttools==4.35.0
glfw==2.5.4
gym==0.19.0
gym-notices==0.0.8
idna==3.3
importlib-metadata==4.12.0
iniconfig==1.1.1
kiwisolver==1.4.4
lockfile==0.12.2
matplotlib==3.5.3
numpy==1.23.2
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
packaging==21.3
pandas==1.5.0
Pillow==9.2.0
pip==22.2.2
pkg_resources==0.0.0
protobuf==3.20.1
pygame==2.1.0
pyglet==1.5.23
PyOpenGL==3.1.6
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.4
requests==2.28.1
seaborn==0.12.1
setuptools==65.0.0
six==1.16.0
tensorboardX==2.5.1
termcolor==1.1.0
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
typing_extensions==4.3.0
urllib3==1.26.11
wheel==0.37.1
zipp==3.8.1
